.main-container {
    /* background-color: aquamarine; */
}    

.bg-orange {
    background-color: #FFB74D;
}

.text-orange {
    color: #FFB74D !important;
}

.text-bold {
    font-weight: bold;
}

.welcome-card {
    width: 50rem;
    margin: 10rem auto;
}

.team-card-container {
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
}

.card-image {
    height: 200px;
    border-radius: 50%;
}
